@page "/"

@using BlazorApp1.Data
@inject EventsForecastService EventsService
@inject Services.IEventsServices apiService


@if (events != null)
{
    @foreach (var eve in events)
    {
        <div class="blog-container">

            <div class="blog-header">
                <div class="blog-cover">
                    <div class="blog-owner">
                        <ul>
                            <li>
                                <b>Автор:</b>
                                @eve.owner
                            </li>
                            <li>
                                <b>Категория:</b>
                                @eve.category
                            </li>
                            <li>
                                <b>Место проведения:</b>
                                @eve.location
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="blog-photo">
                    <img src="Events.jpg" asp-append-version="true" alt="Image" />
                </div>
            </div>

            <div class="blog-body">
                <div class="blog-title">
                    <h1><a href="/EventDetalies">@eve.name</a></h1>
                </div>
                <div class="blog-desc">
                    <p>@eve.description</p>
                </div>
                <div class="blog-tags">
                    <ul>
                        <li><a href="#">css</a></li>
                        <li><a href="#">web design</a></li>
                        <li><a href="#">codepen</a></li>
                    </ul>
                </div>
            </div>
        </div>
    }
}
else
{
    <p><em>Loading...</em></p>
}


@code {
    private IEnumerable<EventsForecast> events;

    protected override async Task OnInitializedAsync()
    {
        events = await EventsService.GetEvents();
    }
    /*
     protected override async Task OnInitializedAsync()
    {
        events = await apiService.GetEvents();
    }*/
}
